<h3 class="text-center">1. Add deployment key</h3>
<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <label for="publicKey">Deployment key (add this to your GIT)</label>
    <textarea rows="4" id="publicKey" readonly class="form-control" onclick="this.select()">{{publicKey}}</textarea>
  </div>
</div>

<h3 class="text-center">2. Add new project</h3>
<form ng-submit="create()" class="form-horizontal">

    <div class="form-group">
        <label for="url" class="col-sm-3 control-label">Git URL</label>
        <div class="col-sm-7">
            <input class="form-control" type="text" id="url" placeholder="GIT URL..." ng-model="repo.url" required>
        </div>
    </div>
    <div class="form-group">
        <label for="group" class="col-sm-3 control-label">Group</label>
        <div class="col-sm-7">
            <input class="form-control" type="text" placeholder="repository group..." id="group"
                    dp-project-group="repo.url" title="This must be a alphanumeric value"
                    ng-model="repo.group" required pattern="[a-zA-Z0-9]*">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-7">
            <input class="form-control" type="text" placeholder="repository name..." id="name"
                    dp-project-name="repo.url" title="This must be a alphanumeric value"
                    ng-model="repo.name" required pattern="[a-zA-Z0-9]+">
        </div>
    </div>

    <div class="form-group">
        <div class="text-center">
            <button class="btn btn-success" type="submit">Add new project</button>
        </div>
    </div>

</form>

